<mat-card class="global-wrapper">
  <mat-card-title>Functions</mat-card-title>
  <div class="sub-title">
    Ether Balance: {{balance | number: "1.4"}} Ether<br>
    1 Eth to USD: {{usd}}
  </div>
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="300px">
      <mat-grid-tile *ngIf="isLoadShown" class="func-wrapper">
        <label>{{current}}</label><br>
        <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>