@import '../../../stylesheets/fonts';
.sidenav-container{
  height: 100%;
}
.select-wrapper{
  height: 100px;
  width: 200px;
}
.add-wrapper{
  width: 100%;
}
.address{
  float: right;
  font-size: 12px;
}