$fa-font-path : '../assets/fonts';
// fonts
$font-kelson-sans-bold : 'Kelson Sans Bold';
$font-kelson-sans-bold-bg : 'Kelson Sans Bold BG';
$font-kelson-sans-light : 'Kelson Sans Light';
$font-kelson-sans-light-bg : 'Kelson Sans Light BG';
$font-kelson-sans-regular : 'Kelson Sans Regular';
$font-kelson-sans-regular-bg : 'Kelson Sans Regular BG';
$font-roboto-black : 'Roboto Black';
$font-roboto-black-italic : 'Roboto Black Italic';
$font-roboto-bold : 'Roboto Bold';
$font-roboto-bold-italic : 'Roboto Bold Italic';
$font-roboto-italic : 'Roboto Italic';
$font-roboto-light : 'Roboto Light';
$font-roboto-light-italic : 'Roboto Light Italic';
$font-roboto-medium : 'Roboto Medium';
$font-roboto-medium-italic : 'Roboto Medium Italic';
$font-roboto-regular : 'Roboto Regular';
$font-roboto-thin : 'Roboto Thin';
$font-roboto-thin-italic : 'Roboto Thin Italic';
$font-roboto-condensed-bold : 'Roboto Condensed Bold';
$font-roboto-condensed-bold-italic : 'Roboto Condensed Bold Italic';
$font-roboto-condensed-italic : 'Roboto Condensed Italic';
$font-roboto-condensed-light : 'Roboto Condensed Light';
$font-roboto-condensed-light-italic : 'Roboto Condensed Light Italic';
$font-roboto-condensed-regular : 'Roboto Condensed Regular';
