.login-wrapper{
  min-width: 320px;
  max-width: 550px;
  width: 40%;
  display: block;
  margin: auto;
}

.login-form{
  width: 100%;
  padding-top: 20px;
}

.form-item{
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  display: block;
  margin: auto;
}

.btn-link{
  float: right;
  margin-top: -35px;
}