<mat-card class="create-wrapper">
  <mat-card-title>Create an Account</mat-card-title>
  <mat-card-content>
    <form class="create-form" (ngSubmit)="onSubmit(mCreate)" #f="ngForm" novalidate>
      <mat-form-field appearance="outline" class="form-item">
        <mat-label>First Name</mat-label>
        <input name="fname" matInput placeholder="Placeholder" type="text" required [(ngModel)]="mCreate.firstName">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-item">
        <mat-label>Last Name</mat-label>
        <input name="lname" matInput placeholder="Placeholder" type="text" required [(ngModel)]="mCreate.lastName">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-item">
        <mat-label>Email</mat-label>
        <input name="email" matInput placeholder="Placeholder" type="email" required [(ngModel)]="mCreate.email">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-item">
        <mat-label>Paypal Email</mat-label>
        <input name="paypalEmail" matInput placeholder="Placeholder" type="email" required [(ngModel)]="mCreate.paypalEmail">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-item">
        <mat-label>Password</mat-label>
        <input name="password" matInput placeholder="Placeholder" type="password" required [(ngModel)]="mCreate.password">
      </mat-form-field>
      <button mat-stroked-button>Submit</button>
    </form>
    <button (click)="loginLink()" class="btn-link" mat-stroked-button>Return to Login</button>
    <mat-spinner *ngIf="isLoadShown" style="margin:0 auto;" mode="indeterminate"></mat-spinner>
  </mat-card-content>
</mat-card>