<mat-card class="global-wrapper">
  <mat-card-title>Functions</mat-card-title>
  <div class="sub-title">
    Ether Balance: {{balance | number: "1.4"}} Ether<br>
    1 Eth to USD: {{usd}}
  </div>
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="400px">
      <mat-grid-tile *ngIf="isLoadShown" class="func-wrapper">
        <label>{{current}}</label><br>
        <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="form1" class="func-wrapper">
        <form class="func-form" (ngSubmit)="createPay(mCreatePay)" #f="ngForm" novalidate>
          <label>Trade Form</label>
          <mat-form-field appearance="outline" class="form-item">
            <mat-label>Trade Method</mat-label>
            <mat-select name="currency" placeholder="Trade Method" (selectionChange) = "onKeyup()" required [(ngModel)]="mCreatePay.currency">
              <mat-option *ngFor="let curr of curr" [(value)]="curr.value">
                {{curr.view}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field  appearance="outline" class="form-item">
            <mat-label>Wallet</mat-label>
            <mat-select name="wallet" placeholder="Wallets" (selectionChange) = "onChange()" required [(ngModel)]="expwalletName" [disabled]="disableSelect.value">
              <mat-option *ngFor="let item of wall" [(value)]="item.view">
                {{item.view}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-item">
            <mat-label>Amount</mat-label>
            <input name="amount" matInput placeholder="Placeholder" (keyup) = "onKeyup()" type="number" required [(ngModel)]="mCreatePay.amount">
          </mat-form-field>
          <label><b>Wallet Balance: {{expbalance}} {{expsymbol}}</b></label>
          <p>Expected Corresponding {{valueCurr}} Return: {{expected | number: "1.4"}}</p>
          <button mat-stroked-button>Submit</button>
        </form>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>